In [10]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_excel('generated_data/forecast_cheikh.xlsx', sheet_name=0)

In [5]:
data = data.drop(data.columns[[0, 1]], axis=1)

In [6]:
data.head()

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Last Refresh,Unnamed: 6,2026-01-12 09:03:19,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,...,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59
0,Code Réceptionnaire,Nom Réceptionnaire,Code Article,Key Figure,W03 2026,W04 2026,W05 2026,W06 2026,W07 2026,W08 2026,...,W47 2026,W48 2026,W49 2026,W50 2026,W51 2026,W52 2026,W53 2026,W01 2027,W02 2027,W03 2027
1,1000238,"VERVALLEN --- ALDI RETAIL,",303814,Published Consensus DP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000238,"VERVALLEN --- ALDI RETAIL,",305154,Published Consensus DP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000238,"VERVALLEN --- ALDI RETAIL,",305155,Published Consensus DP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000239,ALDI PL SP Z.O.O.,305214,Published Consensus DP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
data.columns = data.iloc[0]
data = data.drop(data.index[0]).reset_index(drop=True)
data.head()

,Code Réceptionnaire,Nom Réceptionnaire,Code Article,Key Figure,W03 2026,W04 2026,W05 2026,W06 2026,W07 2026,W08 2026,...,W47 2026,W48 2026,W49 2026,W50 2026,W51 2026,W52 2026,W53 2026,W01 2027,W02 2027,W03 2027
0,1000238,"VERVALLEN --- ALDI RETAIL,",303814,Published Consensus DP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000238,"VERVALLEN --- ALDI RETAIL,",305154,Published Consensus DP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000238,"VERVALLEN --- ALDI RETAIL,",305155,Published Consensus DP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000239,ALDI PL SP Z.O.O.,305214,Published Consensus DP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000239,ALDI PL SP Z.O.O.,601200,Published Consensus DP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Remove rows where all week columns are empty (NaN or blank)
week_columns = [col for col in data.columns if col.startswith('W')]
data = data.dropna(subset=week_columns, how='all')
data

,Code Réceptionnaire,Nom Réceptionnaire,Code Article,Key Figure,W03 2026,W04 2026,W05 2026,W06 2026,W07 2026,W08 2026,...,W47 2026,W48 2026,W49 2026,W50 2026,W51 2026,W52 2026,W53 2026,W01 2027,W02 2027,W03 2027
4,1000239,ALDI PL SP Z.O.O.,601200,Published Consensus DP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1000251,ALDI IT SRL DC OPPEANO,305153,Published Consensus DP,4546.12872,4735.17072,3865.74048,4656.2376,4979.14704,5978.57904,...,2884.45752,3562.93896,4109.82768,6629.51856,25752.84936,5053.06704,7680.82728,7949.10648,3390.2988,4819.36056
6,1000251,ALDI IT SRL DC OPPEANO,305171,Published Consensus DP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1000251,ALDI IT SRL DC OPPEANO,601269,Published Consensus DP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,6860,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1000251,ALDI IT SRL DC OPPEANO,800031,Published Consensus DP,1383.422964,1370.9388,1358.454636,1345.975092,1333.490004,1321.00584,...,1061.002404,864.821496,2169.842136,2086.527828,1489.915812,862.665804,1048.640208,2344.523412,2122.003884,1178.174844
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14620,3761,ITM INTERNATIONAL BRUAY LA BUISSIER,305059,Published Consensus DP,0,0,0,31.08168,29.55288,0,...,0,0,0,0,0,0,0,0,0,0
14645,3767,ITM INTERNATIONAL MAGNY LE DESERT,305059,Published Consensus DP,0,0,0,31.08168,29.55288,0,...,0,0,0,0,0,0,0,0,0,0
14657,3768,ITM INTERNATIONAL LE GRAND FOUGERAY,305059,Published Consensus DP,0,0,0,31.08168,29.55288,0,...,0,0,0,0,0,0,0,0,0,0
14776,685,XXENTREPOT FRAIS MATCH EST,305658,Published Consensus DP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14777,685,XXENTREPOT FRAIS MATCH EST,305659,Published Consensus DP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
data = data.fillna(0)
data

C:\Users\cdeme\AppData\Local\Temp\4\ipykernel_9784\2464226929.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data = data.fillna(0)

,Code Réceptionnaire,Nom Réceptionnaire,Code Article,Key Figure,W03 2026,W04 2026,W05 2026,W06 2026,W07 2026,W08 2026,...,W47 2026,W48 2026,W49 2026,W50 2026,W51 2026,W52 2026,W53 2026,W01 2027,W02 2027,W03 2027
4,1000239,ALDI PL SP Z.O.O.,601200,Published Consensus DP,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,1000251,ALDI IT SRL DC OPPEANO,305153,Published Consensus DP,4546.128720,4735.17072,3865.740480,4656.237600,4979.147040,5978.57904,...,2884.457520,3562.938960,4109.827680,6629.518560,25752.849360,5053.067040,7680.827280,7949.106480,3390.298800,4819.360560
6,1000251,ALDI IT SRL DC OPPEANO,305171,Published Consensus DP,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,1000251,ALDI IT SRL DC OPPEANO,601269,Published Consensus DP,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,6860.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,1000251,ALDI IT SRL DC OPPEANO,800031,Published Consensus DP,1383.422964,1370.93880,1358.454636,1345.975092,1333.490004,1321.00584,...,1061.002404,864.821496,2169.842136,2086.527828,1489.915812,862.665804,1048.640208,2344.523412,2122.003884,1178.174844
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14620,3761,ITM INTERNATIONAL BRUAY LA BUISSIER,305059,Published Consensus DP,0.000000,0.00000,0.000000,31.081680,29.552880,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14645,3767,ITM INTERNATIONAL MAGNY LE DESERT,305059,Published Consensus DP,0.000000,0.00000,0.000000,31.081680,29.552880,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14657,3768,ITM INTERNATIONAL LE GRAND FOUGERAY,305059,Published Consensus DP,0.000000,0.00000,0.000000,31.081680,29.552880,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14776,685,XXENTREPOT FRAIS MATCH EST,305658,Published Consensus DP,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14777,685,XXENTREPOT FRAIS MATCH EST,305659,Published Consensus DP,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [12]:
data_product = pd.read_excel('generated_data/fy26_sales_cheikh.xlsx', sheet_name=0)
df_product = data_product[["Article", "Libellé", "Type Produit", "Type de recette", "Type de matière", "Type d'emballage"]].drop_duplicates().reset_index(drop=True)
df_product.rename(columns={"Article": "product code", "Libellé": "description"}, inplace=True)
product_list = df_product["product code"].tolist()
len(product_list)

876

In [19]:
missing_articles = set(data[~data["Code Article"].astype(int).isin(product_list)]["Code Article"].unique())

{'303182',
 '303183',
 '303360',
 '303362',
 '303363',
 '303748',
 '303944',
 '303966',
 '304007',
 '304152',
 '304156',
 '304174',
 '304283',
 '304416',
 '304592',
 '304700',
 '304764',
 '304868',
 '304905',
 '304929',
 '304947',
 '304963',
 '305001',
 '305048',
 '305065',
 '305114',
 '305171',
 '305172',
 '305178',
 '305216',
 '305244',
 '305246',
 '305286',
 '305357',
 '305362',
 '305366',
 '305390',
 '305402',
 '305406',
 '305434',
 '305440',
 '305441',
 '305442',
 '305456',
 '305459',
 '305465',
 '305469',
 '305474',
 '305476',
 '305479',
 '305488',
 '305489',
 '305515',
 '305520',
 '305525',
 '305526',
 '305529',
 '305553',
 '305561',
 '305562',
 '305566',
 '305567',
 '305574',
 '305584',
 '305591',
 '305593',
 '305596',
 '305602',
 '305606',
 '305609',
 '305614',
 '305654',
 '305656',
 '305661',
 '305670',
 '601197',
 '601198',
 '601233',
 '601271',
 '601274',
 '601284',
 '601291',
 '601336',
 '601337',
 '601348',
 '601356',
 '601358',
 '601499',
 '601502',
 '601550',
 '601581',
 '601629',
 '601636',
 '601640',
 '601687',
 '601732',
 '601737',
 '601740',
 '601850',
 '601984',
 '602028',
 '800021',
 '800023',
 '800024',
 '800031',
 '800041',
 '800042',
 '800060',
 '800061',
 '800070',
 '800071',
 '800080',
 '800100',
 '800102',
 '800110',
 '800120',
 '800130'}

In [20]:
df_clients = data[["Code Réceptionnaire", "Nom Réceptionnaire"]].drop_duplicates().reset_index(drop=True)
df_clients

0    Code Réceptionnaire                   Nom Réceptionnaire
0                1000239                    ALDI PL SP Z.O.O.
1                1000251               ALDI IT SRL DC OPPEANO
2                1000263                HOFER KG DC STOCKERAU
3                1000266                   HOFER KG DC TRUMAU
4                1000267              HOFER KG DC WEISSENBACH
...                  ...                                  ...
1142                3613            XXSOCAMAINE CHEZ STEF TFE
1143                3761  ITM INTERNATIONAL BRUAY LA BUISSIER
1144                3767    ITM INTERNATIONAL MAGNY LE DESERT
1145                3768  ITM INTERNATIONAL LE GRAND FOUGERAY
1146                 685           XXENTREPOT FRAIS MATCH EST

[1147 rows x 2 columns]